{% load static %}
<!-- start footer -->
<footer>
  <div class="level">
    <div class="r-container">
      <div class=" footer d-flex flex-wrap   ">

        <div class="col-xl-3 col-lg-12 col-12">
          <a href=""><img src="{% static 'images/logo.png' %}" alt="logo"></a>
          <p class="caption-footer"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
            مورد
            نیاز و کاربردهای </p>
          <ul class=" social-footer d-flex justify-content-start align-content-center ">
            <a href="">
              <li><i class="fa-brands fa-whatsapp"></i></li>
            </a>
            <a href="">
              <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            <a href="">
              <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="">
              <li><i class="fa-brands fa-facebook-f"></i></li>
            </a>
          </ul>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-12">
          <div class="list-footer-right">
            <p class="title-footer mr">دسترسی سریع</p>
            <ul>
              <a href="index.html">
                <li>صفحه اصلی</li>
              </a>
              <a href="services1.html">
                <li>خدمات ما</li>
              </a>
              <a href="contact1.html">
                <li>تماس با ما</li>
              </a>
              <a href="projects.html">
                <li>پروژه ها</li>
              </a>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-12">
          <div class="list-footer-left">
            <p class="title-footer mr">خدمات شرکت</p>
            <ul>
              <a href="blog-details.html">
                <li>جزئیات وبلاگ</li>
              </a>
              <a href="project -details.html">
                <li>جزئیات پروژه</li>
              </a>
              <a href="questions1.html">
                <li>سوالات متداول</li>
              </a>
              <a href="blog-grid.html">
                <li>وبلاگ</li>
              </a>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12">
          <p class="title-footer">عضویت در خبرنامه</p>
          <p>برای دریافت جدیدترین اخبار و به روز رسانی ها در لیست ایمیل ما مشترک شوید.</p>
          <form action="" class="position-relative">
            <div class="mb-3">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="آدرس ایمیل">
              <button type="button" class="btn btn-warning text-white position-absolute top-0 start-0 h-100"><i
                  class="fa-solid fa-envelope"></i></button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="bg-theme2">
    <div class="r-container">
      <div class="copyright ">
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
